/* frontend/src/components/KanbanBoard.css */
.kanban-board {
    display: flex; 
    gap: 25px; 
    flex-direction: row;
    justify-content: space-around; 
    padding: 10px 0;
    overflow-x: auto; 
    width: 100%;
  }